In [1]:
import os
import pandas as pd
import numpy as np

# Get data
parent = os.path.dirname(os.getcwd())
dataPath = os.path.join(parent, 'Data/HeartDisease/reprocessed.hungarian.data')
df = pd.read_csv(dataPath, header=None,delim_whitespace=True)

df.columns = ['Age','Sex','CP','Trestbps','chol','fbs','restecg',
             'thalach','exang','oldpeak','slope','ca','thal','num']

In [13]:
df.head()

,Age,Sex,CP,Trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,40,1,2,140,289,0,0,172,0,0.0,-9,-9,-9,0
1,49,0,3,160,180,0,0,156,0,1.0,2,-9,-9,1
2,37,1,2,130,283,0,1,98,0,0.0,-9,-9,-9,0
3,48,0,4,138,214,0,0,108,1,1.5,2,-9,-9,3
4,54,1,3,150,-9,0,0,122,0,0.0,-9,-9,-9,0

In [2]:
df.shape

(294, 14)

In [4]:
df.isnull().sum()

Age         0
Sex         0
CP          0
Trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [6]:
df.replace(to_replace=-9.0, value=np.NaN, inplace=True)

In [7]:
df.isnull().sum()

Age           0
Sex           0
CP            0
Trestbps      1
chol         23
fbs           8
restecg       1
thalach       1
exang         1
oldpeak       0
slope       190
ca          290
thal        266
num           0
dtype: int64

In [5]:
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- Age ---
54    25
48    19
52    17
55    15
49    15
46    13
53    12
50    12
43    12
39    11
41    11
47    10
56    10
58     9
51     9
59     8
45     8
37     8
42     7
40     7
38     7
44     7
36     5
35     5
57     5
34     4
32     4
65     3
61     2
60     2
62     2
31     2
33     2
29     2
63     1
28     1
30     1
66     1
Name: Age, dtype: int64
---- Sex ---
1    213
0     81
Name: Sex, dtype: int64
---- CP ---
4    123
2    106
3     54
1     11
Name: CP, dtype: int64
---- Trestbps ---
 120    65
 130    54
 140    50
 150    23
 110    21
 160    20
 125     8
 100     6
 180     6
 135     5
 170     5
 145     5
 112     3
 122     2
 124     2
 118     2
 115     2
-9       1
 155     1
 190     1
 142     1
 128     1
 138     1
 136     1
 132     1
 92      1
 113     1
 108     1
 106     1
 105     1
 98      1
 200     1
Name: Trestbps, dtype: int64
---- chol ---
-9      23
 246     5
 275     5
 230     5
 196     4
        ..
 226     1
 221     1
 218     1
 217     1
 491     1
Name: chol, Length: 154, dtype: int64
---- fbs ---
 0    266
 1     20
-9      8
Name: fbs, dtype: int64
---- restecg ---
 0    235
 1     52
 2      6
-9      1
Name: restecg, dtype: int64
---- thalach ---
150    29
140    21
130    17
170    14
160    13
       ..
129     1
82      1
139     1
143     1
190     1
Name: thalach, Length: 72, dtype: int64
---- exang ---
 0    204
 1     89
-9      1
Name: exang, dtype: int64
---- oldpeak ---
0.0    189
1.0     41
2.0     31
1.5     16
3.0      9
2.5      3
0.5      2
0.8      1
5.0      1
4.0      1
Name: oldpeak, dtype: int64
---- slope ---
-9    190
 2     91
 1     12
 3      1
Name: slope, dtype: int64
---- ca ---
-9    290
 0      3
 9      1
Name: ca, dtype: int64
---- thal ---
-9    266
 7     11
 6     10
 3      7
Name: thal, dtype: int64
---- num ---
0    188
1     37
3     28
2     26
4     15
Name: num, dtype: int64

In [14]:
df.num.value_counts()

0    188
1     37
3     28
2     26
4     15
Name: num, dtype: int64

In [15]:
37+28+26+15

106

In [17]:
df['num'] = np.where(df['num'].isin([1,2,3,4]), 1, df['num'])  # Change to 0 if 2, otherwise leave as is

In [18]:
df.num.value_counts()

0    188
1    106
Name: num, dtype: int64