In [1]:
import os
import pandas as pd
import numpy as np

# Get data
parent = os.path.dirname(os.getcwd())
dataPath = os.path.join(parent, 'Data/Hepatitis/hepatitis.data')

df = pd.read_csv(dataPath, header=None)
df.columns = ['Label','Age','Sex','Steroid','Antivirals','Fatigue',
             'Malaise','Anorexia','LiverBig','LiverFirm','SpleenPalpable',
             'Spiders','Ascites','Varices','Bilirubin','AlkPhosphate','Sgot',
             'Albumin','Protime','Histology']

In [2]:
df.head()

,Label,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,LiverBig,LiverFirm,SpleenPalpable,Spiders,Ascites,Varices,Bilirubin,AlkPhosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [3]:
df.describe()

            Label         Age         Sex  Antivirals   Histology
count  155.000000  155.000000  155.000000  155.000000  155.000000
mean     1.793548   41.200000    1.103226    1.845161    1.451613
std      0.406070   12.565878    0.305240    0.362923    0.499266
min      1.000000    7.000000    1.000000    1.000000    1.000000
25%      2.000000   32.000000    1.000000    2.000000    1.000000
50%      2.000000   39.000000    1.000000    2.000000    1.000000
75%      2.000000   50.000000    1.000000    2.000000    2.000000
max      2.000000   78.000000    2.000000    2.000000    2.000000

In [4]:
df.replace(to_replace='?', value=np.NaN, inplace=True)
df.replace(to_replace=1, value=0, inplace=True) # Binary variables set no=1 for some reason
df.replace(to_replace=2, value=1, inplace=True) # Binary variables set yes=2 for some reason

In [5]:
df.isnull().sum()

Label              0
Age                0
Sex                0
Steroid            1
Antivirals         0
Fatigue            1
Malaise            1
Anorexia           1
LiverBig          10
LiverFirm         11
SpleenPalpable     5
Spiders            5
Ascites            5
Varices            5
Bilirubin          6
AlkPhosphate      29
Sgot               4
Albumin           16
Protime           67
Histology          0
dtype: int64

In [13]:
df.dtypes

Label     int64
1         int64
2         int64
3        object
4         int64
5        object
6        object
7        object
8        object
9        object
10       object
11       object
12       object
13       object
14       object
15       object
16       object
17       object
18       object
19        int64
dtype: object

In [6]:
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- Label ---
0    155
Name: Label, dtype: int64
---- Age ---
38    8
34    8
30    8
36    7
50    6
39    6
51    6
45    5
37    5
42    5
28    5
54    5
44    5
32    4
27    4
47    4
23    4
31    4
33    3
41    3
40    3
52    3
49    3
56    3
61    3
25    3
20    3
48    2
57    2
58    2
62    2
24    2
22    2
35    2
26    1
78    1
43    1
72    1
46    1
53    1
59    1
60    1
64    1
65    1
66    1
67    1
69    1
70    1
7     1
Name: Age, dtype: int64
---- Sex ---
0    155
Name: Sex, dtype: int64
---- Steroid ---
2    78
1    76
Name: Steroid, dtype: int64
---- Antivirals ---
0    155
Name: Antivirals, dtype: int64
---- Fatigue ---
1    100
2     54
Name: Fatigue, dtype: int64
---- Malaise ---
2    93
1    61
Name: Malaise, dtype: int64
---- Anorexia ---
2    122
1     32
Name: Anorexia, dtype: int64
---- LiverBig ---
2    120
1     25
Name: LiverBig, dtype: int64
---- LiverFirm ---
2    84
1    60
Name: LiverFirm, dtype: int64
---- SpleenPalpable ---
2    120
1     30
Name: SpleenPalpable, dtype: int64
---- Spiders ---
2    99
1    51
Name: Spiders, dtype: int64
---- Ascites ---
2    130
1     20
Name: Ascites, dtype: int64
---- Varices ---
2    132
1     18
Name: Varices, dtype: int64
---- Bilirubin ---
1.00    29
0.70    23
0.90    13
0.60    10
0.80    10
1.20     8
1.50     7
1.30     6
4.60     4
2.00     4
2.30     3
1.60     3
1.70     3
3.20     2
1.40     2
0.50     2
2.80     2
0.40     2
4.20     1
1.10     1
2.90     1
2.50     1
7.60     1
3.50     1
0.30     1
1.90     1
4.10     1
3.90     1
2.40     1
1.80     1
8.00     1
4.80     1
3.00     1
2.20     1
Name: Bilirubin, dtype: int64
---- AlkPhosphate ---
85     18
62      4
81      4
135     3
100     3
       ..
60      1
45      1
86      1
96      1
26      1
Name: AlkPhosphate, Length: 83, dtype: int64
---- Sgot ---
20     7
60     6
30     5
28     5
55     5
      ..
110    1
49     1
86     1
150    1
70     1
Name: Sgot, Length: 84, dtype: int64
---- Albumin ---
4.0    25
4.2    13
3.8     9
4.4     9
3.9     8
4.1     8
4.3     7
3.3     6
3.5     6
3.0     5
2.9     5
3.4     4
4.5     4
3.7     3
2.6     3
3.1     3
2.8     3
2.7     3
3.6     2
4.9     2
2.4     2
4.6     2
6.4     1
5.0     1
2.1     1
4.8     1
5.3     1
2.2     1
4.7     1
Name: Albumin, dtype: int64
---- Protime ---
100    11
66      4
46      4
85      4
74      4
41      3
54      3
90      3
31      3
57      3
52      3
73      2
60      2
70      2
56      2
62      2
29      2
35      2
50      2
67      2
63      2
38      1
40      1
23      1
76      1
36      1
77      1
72      1
51      1
0       1
64      1
47      1
32      1
21      1
84      1
78      1
80      1
43      1
30      1
75      1
48      1
39      1
58      1
42      1
Name: Protime, dtype: int64
---- Histology ---
0    155
Name: Histology, dtype: int64

In [15]:
df['Label'] = np.where(df['Label'] == 2, 0, df['Label'])  # Change to 0 if 2, otherwise leave as is
df['Label'] = np.where(df['Label'] == 1, 1, df['Label'])  # Change to 1 if 4, otherwise leave as is