In [1]:
import os
import pandas as pd
import numpy as np

# Get data
parent = os.path.dirname(os.getcwd())
trainPath = os.path.join(parent, 'Data/Spect/SPECT.train')
testPath = os.path.join(parent, 'Data/Spect/SPECT.test')

train = pd.read_csv(trainPath, header=None)
test = pd.read_csv(testPath, header=None)

frames =[train, test]
df = pd.concat(frames)

df.rename(columns={0:'Label'}, inplace=True)

In [2]:
df.Label.value_counts()

1    212
0     55
Name: Label, dtype: int64

In [3]:
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- Label ---
1    212
0     55
Name: Label, dtype: int64
---- 1 ---
0    148
1    119
Name: 1, dtype: int64
---- 2 ---
0    201
1     66
Name: 2, dtype: int64
---- 3 ---
0    162
1    105
Name: 3, dtype: int64
---- 4 ---
0    191
1     76
Name: 4, dtype: int64
---- 5 ---
0    159
1    108
Name: 5, dtype: int64
---- 6 ---
0    204
1     63
Name: 6, dtype: int64
---- 7 ---
0    191
1     76
Name: 7, dtype: int64
---- 8 ---
0    153
1    114
Name: 8, dtype: int64
---- 9 ---
0    184
1     83
Name: 9, dtype: int64
---- 10 ---
0    166
1    101
Name: 10, dtype: int64
---- 11 ---
0    202
1     65
Name: 11, dtype: int64
---- 12 ---
0    188
1     79
Name: 12, dtype: int64
---- 13 ---
0    135
1    132
Name: 13, dtype: int64
---- 14 ---
0    186
1     81
Name: 14, dtype: int64
---- 15 ---
0    220
1     47
Name: 15, dtype: int64
---- 16 ---
0    184
1     83
Name: 16, dtype: int64
---- 17 ---
0    229
1     38
Name: 17, dtype: int64
---- 18 ---
0    232
1     35
Name: 18, dtype: int64
---- 19 ---
0    201
1     66
Name: 19, dtype: int64
---- 20 ---
0    181
1     86
Name: 20, dtype: int64
---- 21 ---
0    170
1     97
Name: 21, dtype: int64
---- 22 ---
0    157
1    110
Name: 22, dtype: int64

In [10]:
df.isnull().sum()

Label    0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
dtype: int64

In [4]:
len(df)

267